
body{
    background-image: url("image/child4.png ");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slowZoom 20s infinite alternate ease-in-out;
}
.all1{
  background: rgb (255 ,255 ,255,0.1);
  backdrop-filter: blur(8px);  
  -webkit-backdrop-filter: blur(8px);
    width: 400px;
    height: 550px;
    padding: 20px;
    animation: fadeSlide 1.2s ease forwards;
box-shadow: 0px 4px 20px ;
border-radius: 20px;
border-color: black;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% ,-50%);}
h2{
    padding: 10px;
    position: absolute;
    left:26% ;
    top: 15%;
    font-style: italic;
    font-weight: bold;
}

.Email1{
    background: transparent;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0px 4px 8px ;
    width: 87%;
    font-size: 16px;
   color: black;
     outline: none;
     position: absolute;
     top: 47%;
 }
 .password1{
    background: transparent;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0px 4px 8px ;
     
    width: 87%;
    font-size: 16px;
   
     position: absolute;
     top: 57%;
 }
 .signin1{
    
    background: transparent;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0px 4px 8px ;

    width: 15%;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
   color: rgb(0, 0, 0);
     outline: none;
     position: absolute;
     top: 87%;
left: 40%;
    
 }
 a{
    text-decoration: none;
 }
 

input{
    font-weight: bold;

}
.signin1:hover
 {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.4s ease;
}

@keyframes slowZoom {
    0% {
      background-size: 100%;
    }
    100% {
      background-size: 105%;
    }
  }
  @keyframes fadeSlide {
    0% {
      opacity: 0;
      transform: translate(-50%, -40%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  input:focus {
    border: 2px solid #e7b190;
    box-shadow: 0 0 8px #e7b190;
    transition: 0.4s ease;
}
.Email1, .password1, .signin1 ,h2{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s forwards;
  }
  
  
  .Email1 { animation-delay: 0.7s; }
  .password1 { animation-delay: 0.9s; }
  .signin1 { animation-delay: 1.1s; }
  
  
  h2 { animation-delay: 1.5s; }
  
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  